.DS_Store
.idea
__pycache__
/latent_diffusion.egg-info/
*/**/__pycache__
/.ipynb_checkpoints/
*/**/.ipynb_checkpoints/
logs
/trained_models/
/training_images/
/Stable-Diffusion-Regularization-Images-*/
/regularization_images/
*.ckpt
/joepenna-dreambooth-configs/
